#app {
  .top {
    color: #FF9302;
    .logo {
      display: inline-block;
      width: 200px;
      height: 200px;
      background-image: url("../img/googlelogo.png");
      background-size: contain;
    }
  }
  .bottom {
    color: #F00000;
  }
}